

<div id="interactiveABC">
<a name="top"></a>
<div id="shell">


<div id="page" class="tabContent active">

<div id="main">
<div id="interactiveShell">
<div class="columnGroup firstColumnGroup">
<div class="ledeStory">


<div class="storyHeader">
<h6 class="dateline">


</div><!--end .module insetHFullWidth -->
<div id="interactiveFreeFormMain">
<!--BEGIN Stencil generated content. -->
<!--Project ID: 2012/0202-federal-budget/ -->
<!--Generated at: Mon Feb 13 18:08:54 2012 -->

<div class="nytg">
<!--[if IE 6]>
  <div id="nytg-error">
  <p>This interactive graphic requires a browser with SVG support, such as <a href="http://www.google.com/chrome">Chrome</a>, <a href="http://www.mozilla.org/en-US/firefox/">Firefox</a>, <a href="http://www.apple.com/safari/download/">Safari</a> or the latest <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">Internet Explorer 9</a>. </p>
  <img src="http://graphics8.nytimes.com/packages/images/newsgraphics/2012/0202-federal-budget/error.png" width="970" alt="Error">
  <div id="nytg-chartFrame" style="display:none;">
		<![endif]-->
<!--[if IE 7]>
  <div id="nytg-error">
  <p>This interactive graphic requires a browser with SVG support, such as <a href="http://www.google.com/chrome">Chrome</a>, <a href="http://www.mozilla.org/en-US/firefox/">Firefox</a>, <a href="http://www.apple.com/safari/download/">Safari</a> or the latest <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">Internet Explorer 9</a>. </p>
  <img src="http://graphics8.nytimes.com/packages/images/newsgraphics/2012/0202-federal-budget/error.png" width="970" alt="Error">
  <div id="nytg-chartFrame" style="display:none;">
		<![endif]-->
<!--[if IE 8]>
  <div id="nytg-error">
  <p>This interactive graphic requires a browser with SVG support, such as <a href="http://www.google.com/chrome">Chrome</a>, <a href="http://www.mozilla.org/en-US/firefox/">Firefox</a>, <a href="http://www.apple.com/safari/download/">Safari</a> or the latest <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">Internet Explorer 9</a>. </p>
  <img src="http://graphics8.nytimes.com/packages/images/newsgraphics/2012/0202-federal-budget/error.png" width="970" alt="Error">
  <div id="nytg-chartFrame" style="display:none;">
		<![endif]-->
<!--[if IE 9]>
		<div id="nytg-chartFrame">
		<![endif]-->
<![if !IE]><div id="nytg-chartFrame"><![endif]>
<div id="nytg-chart">
<div class="nytg-navBar">
<div id="nytg-search" style="display:none;"></div>
<ul class="nytg-navigation clearfix">
<li id="nytg-nav-all">All Products</li>
<li id="nytg-nav-mandatory">Product lines</li>
<li id="nytg-nav-discretionary">Branded products</li>
<li id="nytg-nav-deparment">Totals by Category</li>
<!--<li id="nytg-nav-comparison">Historical</li> -->
</ul>
</div>
<div id="nytg-tooltip">
<div id="nytg-tooltipContainer">
<div class="nytg-department"></div>
<div class="nytg-rule"></div>
<div class="nytg-name"></div>
<div class="nytg-discretion"></div>
<div class="nytg-valuesContainer">
<span class="nytg-value"></span>
<span class="nytg-change"></span>
</div>
<div class="nytg-chart"></div>
<div class="nytg-tail"></div>
</div>
</div>
<div id="nytg-overlays">
<div class="nytg-overlay" id="nytg-totalOverlay" >
<div class="nytg-overview">
<h5>How revenues are split</h5>
<p>Sales grew 5% in the last year, with large differences between products and between categories</p>
<svg id="nytg-deficitCircle"></svg>
</div>
<div class="nytg-aside">
<p></p>
</div>
<div class="nytg-increasesLabel">
<span>Largest Increases</span>
</div>
<div class="nytg-decreasesLabel">
<span>Largest Decreases</span>
</div>
<div id="nytg-colorKey">
<p>Circles are sized according this year's revenues.</p>
<div id="nytg-sizeKey">
<div style="left:52px;top:10px;width:20px;" class="nytg-circleKeyLabel"><span style="left:25px;">€ 1 million</span></div>
<div style="left:32px;top:42px;" class="nytg-circleKeyLabel"><span>€ 100.000</span></div>
<div style="left:32px;top:57px;" class="nytg-circleKeyLabel"><span>€ 10.000</span></div>
<svg id="nytg-scaleKey"></svg>
</div>
<p>Color shows amount of increase or decrease from previous year.</p>
<ul class="nytg-colorSwatches">
<li class="change-decrease3"></li>
<li class="change-decrease2"></li>
<li class="change-decrease1"></li>
<li class="change-increase1"></li>
<li class="change-increase2"></li>
<li class="change-increase3"></li>
</ul>
<ul class="nytg-colorTicks">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
<ul class="nytg-colorLabels">
<li>&ndash;25%</li>
<li>&ndash;5%</li>
<li>0</li>
<li>+5%</li>
<li>+25%</li>
</ul>
</div>
</div>
<div class="nytg-overlay" id="nytg-mandatoryOverlay" >
<div class="nytg-mandatoryExplainer">
</div>
<div class="nytg-mandatoryAside">
<h5>Private label</h5>
<p><strong style="font-size:16px;padding-bottom:4px;display:block;">€10 million</strong></p>
<p>About 60 percent of sales come from private label sales and depend heavily on the policies of each banner.</p>
</div>
<div class="nytg-discretionaryExplainer">
</div>
<div class="nytg-discretionaryAside">
<h5>Branded products</h5>
<p><strong style="font-size:16px;padding-bottom:4px;display:block;">€8 million</strong></p>
<p>About 40 percent of sales come from branded products and depend heavily on the brands' marketing policy.</p>
</div>
</div>
<div class="nytg-overlay" id="nytg-discretionaryOverlay" >
<div id="nytg-discretionaryIntro">
<h5>Sales of branded products</h5>
<p>Branded product sales can be sustained with marketing and commercial policies, while private label sales largely depend on the distributors.</p>
</div>
</div>
<div class="nytg-overlay" id="nytg-departmentOverlay" >
<p class="nytg-emptyCircleLabel"></p>
</div>
<div class="nytg-overlay" id="nytg-comparisonOverlay" >
<h5>Comparison Overlay</h5>
</div>
</div>
<div id="nytg-chartCanvas"></div>
</div>
</div>
</div>
<script type="text/javascript" charset="utf-8">
  </script>

<!--END Stencil generated content. -->    </div><!--close main free form -->
<div class="insetHFullWidth">
<div id="interactiveFooter" class="opposingFloatControl wrap">
<div class="metaData element1">

<div class="module">

<span class="refer feedback">
<span class="pipe"></span>
<form name="interactivefeedback" method="post" enctype="application/x-www-form-urlencoded" action="/gst/emailus.html">
<input type="hidden" name="type" value="interactivefeedback" />
<input type="hidden" name="recipient" value="interactivefeedback" />
<input type="hidden" name="article" value="Four Ways to Slice Obama’s 2013 Budget Proposal" />


</form>
</span>
</div>

</div><!--close .metaData element1 -->
<div class="element2">
</div><!--close .element2 -->
</div><!--close #interactiveFooter -->
</div><!--close .insetHFullWidth -->
</div><!--close .ledeStory -->
</div><!--close .columnGroup -->
</div><!--close #interactiveShell -->
</div><!--close #main -->
</div>
